# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Node Files
# --------------------
node_modules/
coverage/
src/
test/

# --------------------
# Other Files
# --------------------
.vscode/
*.log
